img{
    position: absolute;
    top: 50;
    right: 0;
    transform: translate(-50%, -50%); 
}

.container{
    position: absolute;
    width: 20%;
    margin: 0 auto; 
    padding: 20px;
    background-color:#d2b48c;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    left:10;
    border-radius: 20px;
    display: flex; 
    gap: 50px;
}

#education{
    position: absolute;
    width: 100%;
    height:170px;
    margin: 0 auto; 
    padding: 15px;
    background-color:#d2b48c;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    left:10;
    border-radius: 20px;   
    bottom:3px;
    font-size: 10px;
}

.portfolio{
    text-decoration: none;
}


